.navbar{
  position: fixed;
  width: 100%;
  z-index: 1;
}
body{
  width: 100%;
  -webkit-backgroun-size:cover;
}
.c1{
  background-image: url(../img/fondoh.jpg);
  background-size: cover;
  background-position: center;
}
.ini h1{
  color: #f2f2f2;
  font-weight: bolder;

}

.tit{
  font-size: 40px;
  color: lightgreen;
  font-weight: bold;
  padding-top: 50px;
  display: block;
}
.tit:hover{
  font-size: 45px;
}
.rr{
  font-size: 20px;
}
.foot{
  background: url(../img/foot.jpg);
  background-position: center;
  background-size: cover;
  color: lightgreen;
  text-align:center;


}
.i2{
  border-radius: 20%;
}
footer hr{
  background-color: lightgreen;
}
@import url(https://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@import url(https://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
.rr{

}
.c2{
  background-image: url("../img/c2.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 2%;
}
.foc a{
  color: lightgreen;
}
.nel{
  border-radius: 40%;
  border: 10px double green;
}
.caca{
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.5);
}
.c3{
  background-image:url("../img/c3.jpg");
  background-size: cover;
  background-position:center;

}
.gal h1{
  color: #f2f2f2;
  font-weight: bold;
}
.c3 h3{
  color: lightgreen;
  font-weight: bold;

}
.gal{
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
}
.uni{
  border: 5px groove lightgreen;
}
